footer {
  background-color: whitesmoke;
}

.centered {
  text-align: center;
}
div {
  font-weight: 700;
}
#fatima {
  color: blueviolet;
}
#nisrine {
  color: hotpink;
}
#meryame {
  color: goldenrod;
}
#leila {
  color: orangered;
}