
.imgHead{
    width: 100%;
    height: 800px;
    position: relative;
}
ul{
    width: 75%;
    margin: auto;
}
li{
    width: 25%;
    font-size: 1.3rem;
}
a{
    color:rgb(0, 0, 0);
}
.head p{
    position: absolute;
    font-size: 4rem;
    color: rgb(44, 100, 143);
    right:100px;
    bottom:200px;
    font-weight: 600;
}

